$primary-color: #212529;;
$secondary-color: #0d6efd;
$success-color: #198754;
$danger-color: #dc3545;
$light-bg: #f4f6f9;
$text-color: #333;

$border-radius: 10px;
$shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
$spacing: 0.75rem;