@use '../abstracts/variables';



.action-toggle {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #212529;
  color: white;
  font-size: 2rem;
  border: none;
  box-shadow: 0 6px 15px rgba(0,0,0,.3);
  cursor: pointer;
  z-index: 1100;
}

.action-sidebar {
  position: fixed;
  top: 0;
  right: -320px;
  width: 320px;
  height: 100vh;
  background-color: white;
  box-shadow: -4px 0 12px rgba(0,0,0,.2);
  transition: right .3s ease;
  z-index: 1020;

  &--active {
    right: 0;
  }

  &__header {
    padding: 1rem;
    background-color: variables.$primary-color;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__close {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
  }

  &__content {
    padding-top: 1.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }
}