@use '../abstracts/variables';


.movement-list {
  list-style: none;
  padding: 0;
  margin: 0;

  &__item {
    display: flex;
    justify-content: space-between;
    padding: 0.75rem 0;
    border-bottom: 1px solid #eee;

    &--income {
      color: variables.$success-color;
    }

    &--expense {
      color: variables.$danger-color;
    }
  }
}